.app{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.app h1{
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.input__form{
  width: 65%;
  margin: auto;
  height: auto;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.input__form input{
  padding: 20px;
  width: 100%;  
  border: none;
}

.input__form input:focus{  
  outline: none;
}

.input__form button{
  padding: 10px 40px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.todolist{
  margin: auto;
  display: flex;
  width: 60%;
  justify-content: space-between;
  background: #ffffff;
  padding: 15px;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todolist__actions a{
  margin-left: 15px;
  cursor: pointer;
}

.completed{
  background: #38b638;
  color: #ffffff !important;
}

.completed .todolist__actions a{
  color: #ffffff !important;
}